body {
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
}
a {
    color: #0088CC;
}
a:hover {
    color: #005580;
}
code {
    background-color: #eee;
    padding: 0.125em 0.25em;
    color: #0088CC;
}
pre code {
    display: block;
    padding: 1.0em 1.5em;
    background-color: #333;
    color: #fff;
    border-radius: 1.0em;
}
blockquote p {
    border-left: 0.5em solid #ddd;
    padding-left: 0.5em;
}
table {
    margin: 1.5em 0;
    border-spacing: 0;
}
th {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
th:first-child, td:first-child {
    border-left: 1px solid #ccc;
}
th, td {
    padding: 0.125em 0.5em;
    border-right: 1px solid #ccc;
}
li li {
    margin-left: 1.0em;
}

#container {
    max-width: 50.0em;
    margin: auto;
}

#header h1 a {
    text-decoration: none;
    color: #333;
}

#menu {
    border-bottom: 1px solid #ccc;
}
#menu ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
#menu li {
    display: inline-block;
    border-right: 2px solid #ccc;
    padding-right: 0.5em;
    margin-right: 0.25em;
    margin-bottom: 1.0em;
}
#menu li:last-child {
    border: none;
}

#content img {
    max-width: 100%;
}
#content ul {
    padding: 0;
    list-style-position: inside;
}
#content li {
    line-height: 1.25em;
}

#page-menu {
    list-style-type: none;
    padding: 0;
}
#page-menu li {
    line-height: 1.5em;
}

.cat-menu {
    list-style-type: none;
    display: inline-block;
    font-size: 80%;
}

.cat-menu li {
    display: inline-block;
    padding-left: 0.25em;
}
.cat-menu li:first-child {
    padding-left: 0.5em;
    border-left: 2px solid #ccc;
    margin-left: 0.25em;
}
.cat-menu a {
    color: #333;
}

#footer {
    border-top: 1px solid #ccc;
    text-align: center;
    color: #999;
}
